
body {
     background-color: #004;
     color: #ffffff;
}

div.itemizedlist {
}

h1.title  {
   color: #ffffff;
   border-style: ridge;
   border-color: #ffaaaa;
   font-size: 200%;   
}

h2.title  {
   border-style: solid;
   border-color: #ff99ee;
   background-color: #ff99ee;
   color: #000000;
   font-size: 120%;
}
h3.title {
   border-style: solid;
   border-color: #ff99ee;
   background-color: #ff99ee;
   color: #000000;
   font-size: 120%;
}

pre.screen {
   color: #ffffff;
   background-color: #000000;
}

a:link {
  color: #ffccff;
}

a:active {
  color: #eeeeee;
}

a:hover {
  color: #ffffff;
  background-color: #5555ff;
}

a:visited {
  color: #ddeedd;
}

tr {
  background-color: #000;
}
td {
  background-color: #000;
}